/* Basic styles for css editing */
:root {
    --primary-color: #1d9bf0;
    --primary-color-light: rgba(29, 155, 240, 0.1);
    --secondary-color: rgb(230, 230, 230);
    --secondary-color-light: #eff3f4;
    --white: #fff;
    --black: #0f1419;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: 62.5%;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--primary-color);
}
a:hover {
    text-decoration: underline;
}
img {
    width: 100px;
}
button {
    border: none;
    background-color: transparent;
}
button:hover {
    cursor: pointer;
}
.twitter {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}
/* Left twitter menu */
.twitter__menu {
    position: sticky;
    top: 0;
    width: 23%;
    height: 100vh;
}
.twitter__menu .twitter__nav {
    padding-left: 50px;
}
.twitter__nav .twitter__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.twitter__nav .twitter__logo-container:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;
}
.twitter__nav .twitter__logo-container img {
    width: 28.4px;
    height: 23.1px;
}
.nav__list .list__item .item__button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px;
    font-size: 2rem;
    text-align: left;
    border: none;
    border-radius: 9999px;
    background-color: var(--white);
}
.nav__list .list__item .item__button:hover {
    background-color: var(--secondary-color);
}
.list__item .item__button .button__icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.list__item .item__button .explore {
    background-image: url(../imgs/explore.png);
}
.list__item .item__button .settings {
    background-image: url(../imgs/settings.png);
}

/* Main twitter content */
.twitter__profile {
    width: 44%;
    border: solid 1px var(--secondary-color);
    border-bottom: none;
}
.twitter__profile .profile__header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 53px;
    background-color: rgba(255, 255, 255, 0.9);
}
.twitter__profile .profile__header .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin: 9.5px;
    border-radius: 50%;
}
.twitter__profile .profile__header .header__button:hover {
    background-color: var(--secondary-color-light);
}
.profile__header .header__button .button__icon {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/back.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.twitter__profile .profile__header .header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 53px);
    padding-left: 20px;
}
.profile__header .header__info .info__name {
    font-size: 2rem;
}
.profile__header .header__info .info__tweets {
    font-size: 1.2rem;
    color: #536471;
}
.twitter__profile .profile__banner {
    width: 100%;
}
.twitter__profile .profile__banner img {
    width: 100%;
}
/* Profile details: account information */
.twitter__profile .profile__details {
    padding: 12px 16px 0 16px;
}
.twitter__profile .profile__details .details__header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 68.6px;
}
.profile__details .details__header .header__img-container {
    position: absolute;
    top: -12px;
    transform: translateY(-50%);
    width: 25%;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--white);
}
.profile__details .details__header .header__img-container:hover {
    cursor: pointer;
}
.details__header .header__img-container img {
    width: 100%;
    border-radius: 50%;
}
.profile__details .details__header .header__button {
    align-self: flex-end;
    width: 80px;
    height: 36px;
    border-radius: 9999px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--white);
    background-color: var(--black);
}
.profile__details .details__description .description__name {
    font-size: 2rem;
    font-weight: 900;
}
.profile__details .details__description .description__user {
    font-size: 1.4rem;
    color: rgb(83, 100, 113);
    margin-bottom: 15px;
}
.profile__details .details__description .description__content {
    font-size: 1.5rem;
}
.profile__details .details__description .description__content--baseline {
    margin-top: 20px;
}
.profile__details .details__description .description__personal-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 15px 0;
}
.details__description .description__personal-info .personal-info__item {
    display: flex;
    align-items: center;
    margin-right: 15px;
}
.description__personal-info .personal-info__item .item__icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    background-size: contain;
}
.description__personal-info .personal-info__item .location {
    background-image: url(../imgs/location.png);
}
.description__personal-info .personal-info__item .link {
    background-image: url(../imgs/enlace.png);
}
.description__personal-info .personal-info__item .calendar {
    background-image: url(../imgs/calendario.png);
}
.description__personal-info .personal-info__item .item__text {
    font-size: 1.5rem;
    color: #536471;
}
.description__personal-info .personal-info__item:nth-child(2) .item__text {
    font-size: 1.5rem;
    color: var(--primary-color)
}
.profile__details .details__description .description__account-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
}
.details__description .description__account-info .account-info__item {
    margin-right: 20px;
    font-size: 1.4rem;
    color: #536471;
}
.details__description .description__account-info .account-info__item:hover {
    text-decoration: underline var(--black);
    cursor: pointer;
}
.details__description .description__account-info .account-info__item b {
    color: var(--black);
}
/* Profile details: account content */
.twitter__profile .profile__nav {
    margin-top: 20px;
    width: 100%;
    border-bottom: 1px solid var(--secondary-color);
}
.profile__nav .nav__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.profile__nav .nav__item {
    flex-grow: 1;
    padding: 16px;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    color: #536471;
}
.profile__nav .nav__item:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}
.profile__nav .nav__item:nth-child(1) {
    position: relative;
    color: var(--black);
}
.profile__nav .nav__item .item__selected {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 9999px;
}
.twitter__profile .profile__tweets {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 860px;
}
.twitter__profile .profile__tweets:hover {
    cursor: pointer;
    background-color: var(--secondary-color-light);
}
.twitter__profile .profile__tweets p {
    font-size: 2rem;
}
/* Recommended section */
.twitter__recommended {
    margin-left: 30px;
    width: 350px;
}
.twitter__recommended .recommended__header {
    position: sticky;
    top: 0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 53px;
    background-color: var(--white);
}

.twitter__recommended .recommended__header .header__icon {
    display: inline-block;
    width: 75px;
    height: 44px;
    border-radius: 9999px 0 0 9999px ;
    background-image: url(../imgs/buscar.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--secondary-color-light);
} 
.twitter__recommended .recommended__header .recommended__input {
    width: 100%;
    height: 44px;
    font-size: 1.5rem;
    background-color: var(--secondary-color-light);
    border: none;
    border-radius: 0 9999px 9999px 0;
}
.twitter__recommended .recommended__header .recommended__input:focus-visible {
    outline: none;
}