/* Basic styles for css editing */
:root {
    --primary-color: #1d9bf0;
    --primary-color-light: rgba(29, 155, 240, 0.1);
    --secondary-color: rgb(230, 230, 230);
    --secondary-color-light: #eff3f4;
    --white: #fff;
    --black: #0f1419;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: sans-serif;
    font-size: 62.5%;
}
ul, ol {
    list-style: none;
}
a {
    text-decoration: none;
}
img {
    width: 100px;
}
button {
    border: none;
    background-color: transparent;
}
button:hover {
    cursor: pointer;
}
.twitter {
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
}
/* Left twitter menu */
.twitter__menu {
    width: 23%;
}
.twitter__menu .twitter__nav {
    padding-left: 50px;
}
.twitter__nav .twitter__logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.twitter__nav .twitter__logo-container:hover {
    background-color: var(--primary-color-light);
    cursor: pointer;
}
.twitter__nav .twitter__logo-container img {
    width: 28.4px;
    height: 23.1px;
}
.nav__list .list__item .item__button {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 12px;
    font-size: 2rem;
    text-align: left;
    border: none;
    border-radius: 9999px;
    background-color: var(--white);
}
.nav__list .list__item .item__button:hover {
    background-color: var(--secondary-color);
}
.list__item .item__button .button__icon {
    display: inline-block;
    width: 19px;
    height: 19px;
    padding-right: 40px;
    background-repeat: no-repeat;
    background-size: contain;
}
.list__item .item__button .explore {
    background-image: url(../imgs/explore.png);
}
.list__item .item__button .settings {
    background-image: url(../imgs/settings.png);
}

/* Main twitter content */
.twitter__profile {
    width: 44%;
    border: solid 1px var(--secondary-color);
    border-bottom: none;
}
.twitter__profile .profile__header {
    display: flex;
    width: 100%;
    height: 53px;
}
.twitter__profile .profile__header .header__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    margin: 9.5px;
    border-radius: 50%;
}
.twitter__profile .profile__header .header__button:hover {
    background-color: var(--secondary-color-light);
}
.profile__header .header__button .button__icon {
    width: 20px;
    height: 20px;
    background-image: url(../imgs/back.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.twitter__profile .profile__header .header__info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: calc(100% - 53px);
    padding-left: 20px;
}
.profile__header .header__info .info__name {
    font-size: 2rem;
}
.profile__header .header__info .info__tweets {
    font-size: 1.2rem;
    color: rgb(83, 100, 113);
}
.twitter__profile .profile__banner {
    width: 100%;
}
.twitter__profile .profile__banner img {
    width: 100%;
}

.twitter__profile .profile__details {
    padding: 12px 16px 0 16px;
}
.twitter__profile .profile__details .details__header {
    position: relative;
    width: 100%;
}
.profile__details .details__header .header__img-container {
    position: absolute;
    top: -12px;
    transform: translateY(-50%);
    width: 25%;
    padding: 4px;
    border-radius: 50%;
    background-color: var(--white);
}
.details__header .header__img-container img {
    width: 100%;
    border-radius: 50%;
}

/* Recommended section */
.twitter__recommended {
    width: 33%;
}